
.svn

.DS_Store

dist/

source/*/build
source/*/dist

source/*/nbproject/private


source/*/lib/ocs-common_v1.0.0.jar
source/*/lib/indaba-builder_v2.0.0.jar
source/*/lib/indaba-publisher-securitykey_v1.0.0.jar


