<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="indabaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.ocs.indaba.po.Userfinder</class>
    <class>com.ocs.indaba.po.UserfinderEvent</class>
    <class>com.ocs.indaba.po.Session</class>
    <class>com.ocs.indaba.po.AnswerObjectFloat</class>
    <class>com.ocs.indaba.po.CaseAttachment</class>
    <class>com.ocs.indaba.po.AnswerTypeText</class>
    <class>com.ocs.indaba.po.TaskRole</class>
    <class>com.ocs.indaba.po.TargetTag</class>
    <class>com.ocs.indaba.po.StudyPeriod</class>
    <class>com.ocs.indaba.po.MsgReadingStatus</class>
    <class>com.ocs.indaba.po.TextItem</class>
    <class>com.ocs.indaba.po.Msgboard</class>
    <class>com.ocs.indaba.po.JournalContentObject</class>
    <class>com.ocs.indaba.po.User</class>
    <class>com.ocs.indaba.po.ReferenceChoice</class>
    <class>com.ocs.indaba.po.Project</class>
    <class>com.ocs.indaba.po.WorkflowObject</class>
    <class>com.ocs.indaba.po.SurveyIndicator</class>
    <class>com.ocs.indaba.po.AnswerTypeChoice</class>
    <class>com.ocs.indaba.po.Tag</class>
    <class>com.ocs.indaba.po.SurveyPeerReview</class>
    <class>com.ocs.indaba.po.Workflow</class>
    <class>com.ocs.indaba.po.ProjectRoles</class>
    <class>com.ocs.indaba.po.JournalConfig</class>
    <class>com.ocs.indaba.po.TaskAssignment</class>
    <class>com.ocs.indaba.po.ViewPermission</class>
    <class>com.ocs.indaba.po.SurveyQuestion</class>
    <class>com.ocs.indaba.po.ProjectMembership</class>
    <class>com.ocs.indaba.po.Goal</class>
    <class>com.ocs.indaba.po.Cases</class>
    <class>com.ocs.indaba.po.Event</class>
    <class>com.ocs.indaba.po.NotificationType</class>
    <class>com.ocs.indaba.po.Organization</class>
    <class>com.ocs.indaba.po.AccessPermission</class>
    <class>com.ocs.indaba.po.Team</class>
    <class>com.ocs.indaba.po.Pregoal</class>
    <class>com.ocs.indaba.po.Task</class>
    <class>com.ocs.indaba.po.ContentHeader</class>
    <class>com.ocs.indaba.po.ViewMatrix</class>
    <class>com.ocs.indaba.po.JournalAttachmentVersion</class>
    <class>com.ocs.indaba.po.CaseTag</class>
    <class>com.ocs.indaba.po.Language</class>
    <class>com.ocs.indaba.po.ReferenceObject</class>
    <class>com.ocs.indaba.po.SurveyAnswerAttachment</class>
    <class>com.ocs.indaba.po.ContentPayment</class>
    <class>com.ocs.indaba.po.ProjectTarget</class>
    <class>com.ocs.indaba.po.JournalPeerReview</class>
    <class>com.ocs.indaba.po.AnswerTypeInteger</class>
    <class>com.ocs.indaba.po.RightCategory</class>
    <class>com.ocs.indaba.po.Ttags</class>
    <class>com.ocs.indaba.po.Rights</class>
    <class>com.ocs.indaba.po.Attachment</class>
    <class>com.ocs.indaba.po.SurveyContentObject</class>
    <class>com.ocs.indaba.po.Token</class>
    <class>com.ocs.indaba.po.Role</class>
    <class>com.ocs.indaba.po.Rule</class>
    <class>com.ocs.indaba.po.Message</class>
    <class>com.ocs.indaba.po.JournalContentVersion</class>
    <class>com.ocs.indaba.po.SurveyConfig</class>
    <class>com.ocs.indaba.po.Reference</class>
    <class>com.ocs.indaba.po.WorkflowSequence</class>
    <class>com.ocs.indaba.po.SequenceObject</class>
    <class>com.ocs.indaba.po.SurveyAnswerVersion</class>
    <class>com.ocs.indaba.po.Announcement</class>
    <class>com.ocs.indaba.po.AccessMatrix</class>
    <class>com.ocs.indaba.po.AnswerTypeFloat</class>
    <class>com.ocs.indaba.po.GoalObject</class>
    <class>com.ocs.indaba.po.CaseObject</class>
    <class>com.ocs.indaba.po.Target</class>
    <class>com.ocs.indaba.po.Itags</class>
    <class>com.ocs.indaba.po.SurveyCategory</class>
    <class>com.ocs.indaba.po.AnswerObjectChoice</class>
    <class>com.ocs.indaba.po.ProjectContact</class>
    <class>com.ocs.indaba.po.ContentVersion</class>
    <class>com.ocs.indaba.po.AtcChoice</class>
    <class>com.ocs.indaba.po.TeamUser</class>
    <class>com.ocs.indaba.po.EventLog</class>
    <class>com.ocs.indaba.po.AnswerObjectText</class>
    <class>com.ocs.indaba.po.ContentApproval</class>
    <class>com.ocs.indaba.po.IndicatorTag</class>
    <class>com.ocs.indaba.po.TextResource</class>
    <class>com.ocs.indaba.po.Tool</class>
    <class>com.ocs.indaba.po.Ctags</class>
    <class>com.ocs.indaba.po.Product</class>
    <class>com.ocs.indaba.po.SurveyAnswerAttachmentVersion</class>
    <class>com.ocs.indaba.po.SurveyAnswer</class>
    <class>com.ocs.indaba.po.Horse</class>
    <class>com.ocs.indaba.po.NotificationItem</class>
    <class>com.ocs.indaba.po.AnswerObjectInteger</class>
    <class>com.ocs.indaba.po.SourceFile</class>
    <class>com.ocs.indaba.po.SourceFileTextResource</class>
    <class>com.ocs.indaba.po.Signup</class>
    <class>com.ocs.indaba.po.EventAttendence</class>
    <class>com.ocs.indaba.po.Attendee</class>
    <class>com.ocs.indaba.po.ShowPresentation</class>
    <class>com.ocs.indaba.po.ShowKeyword</class>
    <class>com.ocs.indaba.po.ExhibitRequest</class>
    <class>com.ocs.indaba.po.ApplicationConfig</class>
    <class>com.ocs.indaba.po.PresentationAttachment</class>
    <class>com.ocs.indaba.po.Msg</class>
    <class>com.ocs.indaba.po.EventAssessment</class>
    <class>com.ocs.indaba.po.PresentationStaff</class>
    <class>com.ocs.indaba.po.Category</class>
    <class>com.ocs.indaba.po.Vendor</class>
    <class>com.ocs.indaba.po.MsgStatus</class>
    <class>com.ocs.indaba.po.Exhibit</class>
    <class>com.ocs.indaba.po.Badge</class>
    <class>com.ocs.indaba.po.Interest</class>
    <class>com.ocs.indaba.po.AttendeeVendor</class>
    <class>com.ocs.indaba.po.Group1</class>
    <class>com.ocs.indaba.po.Facility</class>
    <class>com.ocs.indaba.po.ShowManager</class>
    <class>com.ocs.indaba.po.UserProfile</class>
    <class>com.ocs.indaba.po.Floormap</class>
    <class>com.ocs.indaba.po.Keyword</class>
    <class>com.ocs.indaba.po.AttendeeBadge</class>
    <class>com.ocs.indaba.po.GroupMember</class>
    <class>com.ocs.indaba.po.AttendeeFunction</class>
    <class>com.ocs.indaba.po.Function</class>
    <class>com.ocs.indaba.po.Conference</class>
    <class>com.ocs.indaba.po.AttendeeInterest</class>
    <class>com.ocs.indaba.po.Contact</class>
    <class>com.ocs.indaba.po.Show</class>
    <class>com.ocs.indaba.po.PageNote</class>
    <class>com.ocs.indaba.po.ShowCategory</class>
    <class>com.ocs.indaba.po.Presentation</class>
    <class>com.ocs.indaba.po.Location</class>
    <class>com.ocs.indaba.po.ConnRequest</class>
    <class>com.ocs.indaba.po.Apicall</class>
    <class>com.ocs.indaba.po.Orgkey</class>
    <class>com.ocs.indaba.po.Mailbatch</class>
    <class>com.ocs.indaba.po.ResourceContributor</class>
    <class>com.ocs.indaba.po.Resource</class>
    <class>com.ocs.indaba.po.ProjectOwner</class>
    <class>com.ocs.indaba.po.Orgadmin</class>
    <class>com.ocs.indaba.po.ProjectAdmin</class>
    <class>com.ocs.indaba.po.Config</class>
    <class>com.ocs.indaba.po.AtcChoiceIntl</class>
    <class>com.ocs.indaba.po.SurveyIndicatorIntl</class>
    <class>com.ocs.indaba.po.ToolIntl</class>
    <class>com.ocs.indaba.po.ScContributor</class>
    <class>com.ocs.indaba.po.UploadFiles</class>
    <class>com.ocs.indaba.po.UploadFile</class>
    <class>com.ocs.indaba.po.Tasksub</class>
    <class>com.ocs.indaba.po.ScIndicator</class>
    <class>com.ocs.indaba.po.SurveyPeerReviewVersion</class>
    <class>com.ocs.indaba.po.DeadHorse</class>
    <class>com.ocs.indaba.po.Imports</class>
    <class>com.ocs.indaba.po.ProjectNotification</class>
    <class>com.ocs.indaba.po.ProjectNotif</class>
    <class>com.ocs.indaba.po.ProjectNotifRole</class>
    <class>com.ocs.indaba.po.AnswerTypeTable</class>
    <class>com.ocs.indaba.po.SurveyAnswerComponent</class>
    <class>com.ocs.indaba.po.SurveyAnswerComponentVersion</class>
    <class>com.ocs.indaba.po.GroupobjComment</class>
    <class>com.ocs.indaba.po.NoteobjIntl</class>
    <class>com.ocs.indaba.po.Noteobj</class>
    <class>com.ocs.indaba.po.SprComponent</class>
    <class>com.ocs.indaba.po.Notedef</class>
    <class>com.ocs.indaba.po.NoteobjVersion</class>
    <class>com.ocs.indaba.po.NotedefRole</class>
    <class>com.ocs.indaba.po.Groupdef</class>
    <class>com.ocs.indaba.po.GroupdefUser</class>
    <class>com.ocs.indaba.po.NotedefUser</class>
    <class>com.ocs.indaba.po.GroupdefRole</class>
    <class>com.ocs.indaba.po.Groupobj</class>
    <class>com.ocs.indaba.po.NoteobjVersionIntl</class>
    <class>com.ocs.indaba.po.GroupobjFlag</class>
    <class>com.ocs.indaba.po.SprComponentVersion</class>
    <class>com.ocs.indaba.po.NotificationTokens</class>
    <class>com.ocs.indaba.po.Tokenset</class>
    <class>com.ocs.indaba.po.SurveyQuestionVisit</class>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/indaba"/>
      <property name="javax.persistence.jdbc.password" value="indaba_pwd"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="indaba_user"/>
    </properties>
  </persistence-unit>
</persistence>
