<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Indaba</display-name>
    <context-param>
        <param-name>indabaConfigFile</param-name>
        <param-value>/WEB-INF/config/indaba_config.properties</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>intlResourceDir</param-name>
        <param-value>/WEB-INF/config/intl_resources</param-value>
    </context-param>
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.ocs.indaba.action.InitializationServletListener</listener-class>
    </listener>
    
    <!--
    <servlet>  
        <servlet-name>context</servlet-name>  
        <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PeopleIconServlet</servlet-name>
        <servlet-class>com.ocs.indaba.action.PeopleIconServlet</servlet-class>
        <init-param>
            <param-name>notfound</param-name>
            <param-value>/images/noImage.jpg</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SponsorLogoServlet</servlet-name>
        <servlet-class>com.ocs.indaba.action.SponsorLogoServlet</servlet-class>
        <init-param>
            <param-name>notfound</param-name>
            <param-value>/images/notfound.jpg</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeopleIconServlet</servlet-name>
        <url-pattern>/peopleicon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SponsorLogoServlet</servlet-name>
        <url-pattern>/sponsorlogo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wstudio-debugger-tomcat5</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>suppressSmap</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>trimSpaces</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>wstudio-debugger-tomcat5</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <taglib>
        <taglib-uri>indabaTaglib</taglib-uri>
        <taglib-location>/WEB-INF/indabaTaglib.tld</taglib-location>
    </taglib>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
